DATABASE_URL="postgresql://USER:PASSWORD@HOST-pooler.REGION.aws.neon.tech/neondb?sslmode=require"
DATABASE_URL_UNPOOLED="postgresql://USER:PASSWORD@HOST.REGION.aws.neon.tech/neondb?sslmode=require"
APP_URL="http://localhost:3000"
SMTP_HOST="smtp-relay.brevo.com"
SMTP_PORT="587"
SMTP_USER="TU_USUARIO_SMTP_DE_BREVO"
SMTP_PASS="TU_CLAVE_SMTP_DE_BREVO"
SMTP_FROM="TaskFlow Agency <maycolljaramillo01@gmail.com>"
